
@model Alquicar_mvc.Models.AlquilerCarModel

@{
    ViewBag.Title = "Create";
}
<div>
    <h3 class="center-text">Alquilar Vehiculo</h3>
</div>
<div class="mdl-alquilar mdl-grid demo-content">
    <div class="select demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--10-col arbol">
        @using (Html.BeginForm("Create", "Alquiler", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!----div -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt">
                @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "mdl-textfield__label" })
                <input class="mdl-textfield__input" type="date" id="start" name="start" value="@ViewBag.idate">
                @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
            </div>

                <!----------------------------     calendar        ------------------------>
                <div id="cal" style="display:none">
                    <div class="header">
                        <span class="left button" id="prev"> &lang; </span>
                        <span class="month-year" id="label"> June 20&0 </span>
                        <span class="right button" id="next"> &rang; </span>
                    </div>
                    <table class="mdl-data-table" id="days">
                        <thead>
                            <tr>
                                <td>do</td>
                                <td>lu</td>
                                <td>ma</td>
                                <td>mi</td>
                                <td>ju</td>
                                <td>vi</td>
                                <td>sa</td>
                            </tr>
                        </thead>
                    </table>
                    <div id="cal-frame">
                        <table class="curr mdl-data-table mdl-js-data-table">
                            <tbody>
                                <tr><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
                                <tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td class="today">11</td><td>12</td></tr>
                                <tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr>
                                <tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
                                <tr><td>27</td><td>28</td><td>29</td><td>30</td><td class="nil"></td><td class="nil"></td><td class="nil"></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt">
                    @Html.LabelFor(model => model.final_date, htmlAttributes: new { @class = "mdl-textfield__label" })
                    <input id="final" name="final" class="mdl-textfield__input" type="date" value="@ViewBag.fdate">
                    @Html.ValidationMessageFor(model => model.final_date, "", new { @class = "text-danger" })
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth mdl-pdt">
                    <input class="mdl-textfield__input" type="text" id="clien" name="clien" value="Seleccione cliente" readonly tabIndex="-1">
                    <label for="clien" class="mdl-textfield__label">Cliente</label>
                    <ul for="clien" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        @foreach (System.Data.DataRow row in ViewBag.Clientes.Rows)
                        {
                            <li class="mdl-menu__item" value="cliente_id" id=@row["id"].ToString()>@row["nombre"].ToString()</li>
                        }
                    </ul>
                </div>

                <div>
                    <div>
                        <input type="submit" id="show-dialog" value="Buscar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" />
                    </div>
                </div>
        }
    </div>
    <div style="display:none">
        @using (Html.BeginForm("alquilar", "Alquiler", FormMethod.Post, new { id = "alquilarForm" }))
        {
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt" style="display:none">
                @Html.LabelFor(model => model.car_id, htmlAttributes: new { @class = "mdl-textfield__label" })
                @Html.EditorFor(model => model.car_id, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                @Html.ValidationMessageFor(model => model.car_id, "", new { @class = "text-danger" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt" style="display:none">
                @Html.LabelFor(model => model.cliente_id, htmlAttributes: new { @class = "mdl-textfield__label" })
                @Html.EditorFor(model => model.cliente_id, new { htmlAttributes = new { @class = "mdl-textfield__input"} })
                @Html.ValidationMessageFor(model => model.cliente_id, "", new { @class = "text-danger" })
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt" style="display:none">
                @Html.LabelFor(model => model.registrador_por, htmlAttributes: new { @class = "mdl-textfield__label" })
                @Html.EditorFor(model => model.registrador_por, new { htmlAttributes = new { @class = "mdl-textfield__input", @value = "@Session['user_id'].ToString()" } })
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt">
                @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "mdl-textfield__label" })
                <input class="mdl-textfield__input" type="date" id="start_date" name="start_date" value="@ViewBag.idate">
                @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-pdt">
                @Html.LabelFor(model => model.final_date, htmlAttributes: new { @class = "mdl-textfield__label" })
                <input id="final_date" name="final_date" class="mdl-textfield__input" type="date" value="@ViewBag.fdate">
                @Html.ValidationMessageFor(model => model.final_date, "", new { @class = "text-danger" })
            </div>
        }
    </div>


    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Alquilar</h4>
        <div id="alquilercont" class="mdl-dialog__content">
            <p id="price_day"></p>
            <p id="price_final"></p>
            <p id="car" style="display:none"></p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button accept">aceptar</button>
            <button type="button" class="mdl-button close">cancelar</button>
        </div>
    </dialog>


    <div id="modalyes" style="display:none" class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>Alquilar vehiculo</h4>
        </div>
        <div class="mdl-card__supporting-text">
            Desea alquilar este vehiculo?
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button id="acceptmdl" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                aceptar
            </button>
            <div class="mdl-layout-spacer"></div>
            <button id="canelarmdl" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                cancelar
            </button>
        </div>

    </div>
    @if (ViewBag.vehiculos != null)
    {
        foreach (System.Data.DataRow row in ViewBag.vehiculos.Rows)
        {

            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <header class="section__play-btnr mdl-cell mdl-cell--5-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone  mdl-color-text--white">
                    <img width="210" height="210" src="@row["foto"].ToString()" />
                </header>
                <div class="mdl-card mdl-cell mdl-cell--7-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">@row["modelo"].ToString()</h2>
                    </div>
                    <div class="md-caracteristicas mdl-card__supporting-text">
                        <div><label>Tipo</label><label class="izq">@row["tipo"].ToString()</label></div>
                        <div><label>Direccion</label><label class="izq">@row["direccion"].ToString()</label></div>
                        <div><label>Transmicion</label><label class="izq">@row["transmicion"].ToString()</label></div>
                        <div><label>Marca</label><label class="izq">@row["marca"].ToString()</label></div>
                        <div class="price"><label>precio final por dia</label><label class="izq @row["id"].ToString()">$@row["precio_dia"].ToString()</label></div>
                    </div>
                    <div class="mdl-card__actions cars">
                        <a href="#" id="@row["id"].ToString()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Alquilar</a>
                    </div>
                </div>
            </section>
        }
    }
</div>
<script>
    $(document).ready(function () {
        min_date_return();
        dayalquiler();
        launchModal();
        alquilar();
    });

    function launchModal() {
        $('.cars .mdl-button').click(function () {
            var p = $(this).attr("id");
            var price = $("." + p).text();
            $('#car').text(p);
            var fecha_in = $('#start').val().split("-");
            var fecha_fn = $('#final').val().split("-");
            var total = cal_days(fecha_fn[2], fecha_in[2]) * parseInt(price.substring(1));
            $('#price_day').text("Precio dia: " + price);
            $('#price_final').text("Precio final: $" + total);
            modalaux();
        });
    }

    function alquilar() {
        $('.accept').click(function () {
            $('#car_id').attr("value", $('#car').text());;
            $('#registrador_por').attr("value",@Session["user_id"]);
            //$('#cliente_id').attr("value",$('#clien').attr("id"));
            $('#start_date').attr("value",$('#start').val());
            $('#final_date').attr("value",$('#final').val());
            $('#alquilarForm').submit();
        });
    }

    function cal_days(daya, dayb) {
        return r = parseInt(daya) - parseInt(dayb)      
    }

    function modalaux() {

        var dialog = document.querySelector('dialog');
        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
        dialog.showModal();

        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });

    }

    function dayalquiler() {
        $dateone = $('#start').val();
        var f = new Date();
        var month = monthcurrent(f.getMonth());
        var day = daycurrent(f.getDate());
        var initalDate = f.getFullYear() + "-" + month + "-" + day;
        $('#start').attr({ "value": $dateone, "min": initalDate });
    }
    
    function monthcurrent(month) {
        if (month > 10) {
            return month + 1;
        } else {
            return "0" + (month + 1);
        }
    }

    function daycurrent(day) {
        if (day < 10) {
            return "0" + day;
        } else {
            return day;
        }
    }

    function min_date_return() {
        $('#final').click(function () {
            $minimal = $('#start').val().split("-");
            var fecha = parseInt($minimal[2])+1;
            $($(this)).attr("min", $minimal[0]+"-" + $minimal[1] +"-"+ daycurrent(fecha));
        });
    }
</script>
