@using Alquicar_mvc.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alquicar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/material.min.css" rel="stylesheet" />
    @*<link href="~/Content/Home/styles.css" rel="stylesheet" />*@
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <link href="~/Content/Login/StyleLogin.css" rel="stylesheet" />
</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content together-section">
                <div class="mdl_card mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-shadow--16dp contenido">
                    <div class="mdl-lg-ctr">
                        <section id="loginForm">
                            <div id="loading" class="mdl"></div>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                             {
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text text_center">Iniciar sesión</h2>
                                </div>
                                @Html.AntiForgeryToken()
                                <div class="mdl-card__supporting-text izq-item">
                                    Use a local account to log in.
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input", @type = "email" })
                                    @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
                                    @Html.ValidationMessageFor(m => m.Email, "E-mail incorrecto", new { @class = "mdl-textfield__error" })
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
                                    @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
                                    @Html.ValidationMessageFor(m => m.Password, "ingrese su contraseña", new { @class = "mdl-textfield__error" })
                                </div>
                                <div class="lgn-horz-ctr">
                                    <label for="switch1" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                        <input type="checkbox" id="switch1" class="mdl-switch__input ">
                                        <span class="mdl-switch__label">Remember me?</span>
                                    </label>
                                </div>
                                <div class="lgn-horz-ctr mdl-card__actions">
                                    <input id="login"type="submit" value="Log in" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-all mdl-button--colored" />
                                </div>
                                <p class="mdl-typography--text-center pding_b">
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                                <div class="back mdl-typography--text-center">
                                    @Html.ActionLink("Regresar", "Index", "Home")
                                </div>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                                <p><span>@ViewBag.description</span></p>
                            }
                        </section>
                    </div>
                </div>
                
        </main>
        <script>
        $(document).ready(function () {
            $('#login').click(function () {
                //$('#loading').addClass('functione');
              $('#loading').attr('class','mdl-loading');
            });
        });
        </script>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    
        
    }
</body>
</html>