

@{
    ViewBag.Title = "Index";
    
}

<div  class="mdl-grid demo-content">
    <div class="center">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    @foreach (System.Data.DataColumn col in Model.Columns)
                     {
                        <th class="mdl-data-table__cell--non-numeric"> @col.Caption</th>
                     }
                    <th class="mdl-data-table__cell--non-numeric"> opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (var cell in row.ItemArray)
                        {
                            <td class="mdl-data-table__cell--non-numeric"> @cell.ToString() </td>
                        }

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>