
<header class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <!-- Título  del header-->
        <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="~/images/alquicar--logo.png">
        </span>
        <!-- Añade un espacio para alineación -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
        </div>
        <!-- Navigation -->
        <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
                @Html.Partial("_LoginPartial")
                @Html.ActionLink("contact", "Contact", "Home", new { area = "" }, new { @class = "mdl-navigation__link mdl-typography--text-uppercase" })
                @Html.ActionLink("home", "Index", "Home", new { area = "" }, new { @class = "mdl-navigation__link mdl-typography--text-uppercase" })
                @Html.ActionLink("about", "About", "Home", new { area = "" }, new { @class = "mdl-navigation__link mdl-typography--text-uppercase" })
            </nav>
        </div>
    </div>
</header>
<!-- Menú de navegación lateral. -->
<div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
        <img class="android-logo-image" src="~/images/alquicar-logo-white.png">
    </span>
    <!----nav class="mdl-navigation"-->
    <nav class="mdl-navigation">
        @Html.Partial("_LoginPartial")
        @Html.ActionLink("contact", "Contact", "Home", new { area = "" }, new { @class = "mdl-navigation__link " })
        @Html.ActionLink("home", "Index", "Home", new { area = "" }, new { @class = "mdl-navigation__link " })
        @Html.ActionLink("about", "About", "Home", new { area = "" }, new { @class = "mdl-navigation__link " })
    </nav>
</div>
